html,
body {
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

html,
body,
.containers {
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    text-align: center;
}

button {
    outline: none !important;
}

.containers .bg {
    background: url("./../assests/1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    filter: blur(3px);
    -webkit-filter: blur(5px);
    width: 100%;
    min-height: 100%;
    z-index: -99999999;
    position: absolute;
    top: 0;
}

.containers .tx {
    width: 100%;
    min-height: 100%;
    z-index: 10000;
}

.container .con span {
    color: #ff3745;
    font-size: 60px;
    border: 1px solid #d7e4d0;
    border-radius: 50%;
    background-color: #fafbf6;
    margin-top: 50px;
    margin-bottom: 50px;
}

.buttons button:last-child {
    color: #ff3745;
}

.btn-danger {
    background-color: #ff3745;
}

.clear:before,
.clear:after {
    content: "";
    clear: both;
    display: block;
}

.input-group {
    margin: 10px;
}

footer {
    margin-top: 30%;
    width: 100%;
    color: white;
}

.qq,
.wechat,
.zhi {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    margin: 10px;
}

.qq {
    background-image: url("./../assests/qq.png");
}

.wechat {
    background-image: url("./../assests/wechat.png");
}

.zhi {
    background-image: url("./../assests/ailipay.png");
}

.icon {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}